[tool.bumpversion]
current_version = "0.0.2"
commit = true
tag = true
message = "chore: publish library to pypi"

[[tool.bumpversion.files]]
filename = "pyproject.toml"
search = 'version = "{current_version}"'
replace = 'version = "{new_version}"'
